[Desktop Entry]
Version=1.0
Type=Application
Name=PlugNPass
GenericName=iOS File Transfer
Comment=Transfer files between Linux and iOS devices
Exec=plugnpass %F
TryExec=plugnpass
Icon=phone
Terminal=false
Categories=Utility;FileTools;System;FileTransfer;
Keywords=iPhone;iOS;iPad;file;transfer;Apple;iTunes;mobile;
StartupNotify=true
StartupWMClass=plugnpass
MimeType=application/x-plugnpass; 